
h1,h2,h3,h4,h5,h6{font-family: "Montserrat-Bold";}
body {font-family: "Montserrat";text-align: center;}
p {color: #8f8f8f;}
/*Headings*/
.big-heading {font-family:"Montserrat";font-weight: 900;font-size:3.5rem;line-height: 1.5;}
.section-heading {font-size: 3rem;line-height: 1.5;}
/*Containers */
.container-fluid {padding:7% 15%;}
/*Sections*/
.colored-section {background-color: #F10086;color: #fff;}
.white-section {background-color: #fff;}
/*Navigation Bar */
.navbar {padding:0 0 4.5rem;}
.navbar-brand {font-family: "Ubuntu";font-size: 2.5rem;font-weight: bold;}
.nav-item {padding:0 18px;}
.nav-link {font-size: 1.2rem;font-family: "Montserrat-Light";}
/*Download Buttons */
.download-button{margin:5% 3% 5% 0 ;}
/*Title Section */
#title .container-fluid {padding: 3% 15% 7%;text-align: left;}
/*Title Image */
.title-image {width:35%;position:absolute;left:55%;transform: rotate(-5deg);margin-top:0px;}
/*Features Section */
#features {position:relative;z-index:0;}
.feature-box {text-align: center; padding: 5%;
}
.feature-title {font-size: 1.5rem;}
.icon {color:#FF616D;margin-bottom: 1rem;}
.icon:hover {color:#ff4c68;}
/*Testimonial Section */
#testimonials {background-color: #FF616D;}
.testimonial-image {border-radius: 50%;width:15%;margin:20px;height: 15%;}
.testimonial-text {font-size: 3rem;line-height: 1.5;}
/*Press Section*/
#press {background-color: #FFBBCC;padding-bottom: 3%;}
.press-logo {width:15%;margin: 20px 20px 50px;}
.card {display:inline-flex;}
.card {margin:0 40px;margin-top: 30px;}
 /*Pricing Section*/
 #pricing {padding: 100px;}
 .price-text{font-size: 3rem;line-height: 1.5;}
 /*Footer Section*/
 .social-icon {margin: 20px 10px;}
@media (max-width:1028px) {.title-image{width: 520px;transform: rotate(0);}
}
@media (max-width:1400px){.title-image{width: 520px;transform: rotate(0);}

}
@media (max-width:1100px){.title-image{width:515px;transform: rotate(0deg);margin-right:50px;}
}
@media (max-width:1070px){.title-image{visibility: hidden;}
}
@media (max-width:900px){.title-image{visibility: hidden;}
}
